{% extends "layout.html" %}
{% block content %}
    <head>
        <title>About</title>
        <style>
            body {
                background-image: url(https://images.squarespace-cdn.com/content/v1/5c7201a24d87113b3aca9b92/1551274188702-VEZZ1PPG0BHELZ2D3MJZ/ke17ZwdGBToddI8pDm48kPTrHXgsMrSIMwe6YW3w1AZ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0p52bY8kZn6Mpkp9xtPUVLhvLurswpbKwwoDWqBh58NLxQZMhB36LmtxTXHHtLwR3w/WebDuo-Home-Page-Background.png?format=2500w);
                background-size: cover;
            }
        </style>
    </head>
    <h1 style="color:purple;font-size:500%; font-family:Georgia; font-weight: bold; text-align: center">About</h1>
    <p style="font-size:150%; font-family: Georgia; text-align: center">This page is extracting content and data from online shopping sites (amazon.com, aliexpress.com, tap.az).<br>
    In this website, you can search for the product and we will find the result according to your needs.<br>
    There is only one thing that matters to us, customer satisfaction!</p>
{% endblock content %}