{% extends "layout.html" %}
{% block content %}
    <head>
        <title>Home</title>
        <style>
            body {
                background-image: url(https://www.b2bacademy.org/sites/default/files/vyhodyt_na_mezhdunarodnyy_rynok_sayt2.png);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
        </style>
    </head>
	<body>
		<h1 style="color:blue;font-family:'arial';font-size:500%;">Welcome!</h1>
		<h2 style="color:red;font-family:arial;font-size:160%;text-align: bottom">We make things easier for you!</h2>
	</body>
{% endblock content %}